# -------------------------------------------------------
# CODEOWNERS — gitops-global-demo
# Time de plataforma controla toda a governança central.
# -------------------------------------------------------
*                            @rdgoarruda
governance/**                @rdgoarruda
config/**                    @rdgoarruda
bootstrap/**                 @rdgoarruda
